.container{
    width: 1200px;
    margin: 0 auto;
}

.store-form-wrapper{
    width: 800px;
    margin: 50px auto 40px;
    padding: 20px 20px;
    /*display: flex;*/
    /*justify-content: center;*/
}

.store-form{
    margin: auto;
    width: 600px;
    font-size: 30px;

}

.store-form__search{
    display: block;
    margin: auto;
    border: 1px solid lightslategrey;
    font-weight: normal;
}

.dropdown{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.product-list{
    display: grid;
    box-sizing: content-box;
    grid-template-columns: repeat(5,1fr);
    place-items: center;
    gap: 10px;
    align-items: stretch;
}

.product-list ul{
    padding: 0;
}

.product-item{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

.product-price{
    line-height: 2;
    color: #fd1000;
}
.product-item__text{
    /*text-align: center;*/
}
.product-name{
    font-size: 24px;
    font-weight: bold;
    color: blueviolet;
    text-align: center;
}


.product-image{
    display: block;
    margin: 5px auto 5px;

    /*!!!!!!!!!!!!!!!!!*/
    width: 100px;
    height: 100px;

    overflow: hidden;
}

.product-description{
    justify-content: start;
    font-weight: normal;
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.mt-4 nav
{
    width: fit-content;
    display: block;
    margin: 60px auto 0px;

}
